<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{.Root}}style.css" rel="stylesheet">
<body>
<header>Evan's Jujutusu Tutorial &mdash; <a href='https://github.com/evmar/jjtut'>GitHub</a></header>
<div>
<nav>{{template "toc" .}}</nav>
<main>{{.Body}}</main>
</div>
</body>
