body {
    font-family: "Open Sans", sans-serif;
    display: flex;
}

nav {
    width: 25ex;
}

main {
    flex: 1;
    max-width: 70ex;
}

pre,
code {
    font-family: WebKitWorkaround, monospace;
}

h2 {
    margin-top: 0;
}

.warning {
    background: #ffaaaa;
    padding: 1ex;
}
