body {
    font-family: system-ui, sans-serif;
    color: hsl(0, 0%, 25%);
    line-height: 1.5;
    display: flex;
}

h1,
h2 {
    font-weight: normal;
    margin: 0 0 0.5em;
}

p {
    margin: 0 0 1em;
}

a {
    color: hsl(220, 100%, 40%);
}

nav {
    width: 25ex;
}

main {
    flex: 1;
    max-width: 40em;
}

pre,
code {
    font-family: WebKitWorkaround, monospace;
    font-size: 0.9em;
    background: hsl(0, 0%, 95%);
}

pre {
    border-left: solid 1px hsl(0, 0%, 60%);
    padding-left: 0.8em;
}

.warning {
    background: #ffaaaa;
    padding: 1ex;
}
